@import "tailwindcss";
@import "./tokens.css";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-sans);
}

body {
  background: var(--bg-app);
  color: var(--text-primary);
}

a {
  color: inherit;
}
